body{
  background: url("../img/fondoPantalla.jpg");
}
.title1{
  color: black;
  text-align: center;
  font-size: 200%;
}
.title{
  color: black;
  text-align: center;
}

.boton{
  font-size: 1000%;
  font-variant:"outlined";
  position: absolute;
  left: 26%;

  
}
.icono{
  font-size: 500%;
  width: 75px;
  height: 80px;
  color: blue($color: #000000);

}

.boton2{
  font-size: 1000%;
  font-variant:"outlined";
  position: absolute;
  left: 45%;
}
.icono2{
  font-size: 500%;
  width: 80px;
  height: 80px;
  color: blue($color: #000000);}

.boton3{
  font-size: 1000%;
  font-variant:"outlined";
  position: absolute;
  left: 65%;
}
.icono3{
  font-size: 500%;
  width: 80px;
  height: 80px;
  color: blue($color: #000000);
}

.boton4{
  font-size: 2000%;
  font-variant:"outlined";
  position: absolute;
  left: 26%;
}

.icono4{
  font-size: 500%;
  width: 80px;
  height: 80px;
  color: blue($color: #000000);
}

.boton5{
  font-size: 2000%;
  font-variant:"outlined";
  position: absolute;
  left: 45%;
}

.icono5{
  font-size: 500%;
  width: 80px;
  height: 80px;
  color: blue($color: #000000);
}

.boton5{
  font-size: 2000%;
  font-variant:"outlined";
  position: absolute;
  left: 45%;
  }

  .icono6{
   font-size: 500%;
   width: 80px;
   height: 80px;
   color: blue($color: #000000);
  }

  .boton6{
   font-size: 2000%;
   font-variant:"outlined";
   position: absolute;
   left: 65%;
  }

  .boton7{
    font-size: 2900%;
    font-variant:"outlined";
    position: absolute;
    left: 38%;
    border-radius: 18px;
   }
   .boton8{
    font-size: 2900%;
    font-variant:"outlined";
    position: absolute;
    left: 55%;
    border-radius: 18px;
   }
        
      
    
  



/*.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }*/
