/* Inventario */
.inventario-main {
  flex-basis: 1;
  height: 100vh;
  padding: 20px 70px 50px 70px;
  overflow-x: hidden;
  h1{
    text-transform: uppercase;
  }
}

.search-container {
  margin-top: 20px;
  width: 100vw;
  display: flex;
}
.search-input {
  width: 33%;
  padding: 5px 5px;
  border: 2px solid var(--primary-color);
  input {
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 90%;
  }
}
.search-button {
  margin-left: 10px;
  padding: 10px 30px;
}

.search-options {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.search-filters {
  select {
    width: 180px;
    padding: 10px 30px;
    &:first-child {
      margin-right: 30px;
    }
  }
}

.products-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.products-options {
  button,a {
    padding: 10px 30px;
    &:first-child {
      margin-right: 30px;
    }
  }
}

.product-box{
  padding:15px 10px;
  transition: .25s;
  &:hover{
    background-color: var(--secundary-color);
  }
}

.products-container{
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  margin-left: 30%;
  margin-bottom: 0;
  list-style: none;
  p{
    margin-right: 5px;
    padding: 5px 10px;
  }
}