/* Landing page */
.landing {
    background: url("../img/landing.jpg") no-repeat center center/cover;
    height: 100vh;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    a{
      padding: 4px 40px;
      background: none;
      color: var(--font-color);
      transition: 0.2s;
      font-size: 1.2em;
      text-decoration: none;
      text-align: center;
      margin-top: 2rem !important;
      outline: none;
    }
    *{
      margin-top: 1rem;
    }
  }
    
  .landing h1 {
    font-size: 5rem;
  }
  
  .landing p {
    font-size: 2em;
  }
  
  