.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px ;

}

.agregar-proveedor{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(105, 141, 150, 0.459);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;

}

.input-fields{
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 4%;

}


.input-fields,
.mensaje{
    width: 60%;

}

.input-fields .input,
.mensaje{
    margin: 20px 0;
    background: transparent;
    /*border: 0;
    border-bottom: 2px solid #fff;*/
    padding: 10px;
    color: #c5ecfd;
}


.mensaje{
    height: 350px;
}

::-webkit-input-placeholder{
    color: #fff;
}


.btn-guardar{
    border-bottom: 10px;
    margin-top: 100px;
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    
}

.btn-cancelar{
    margin-top: 15px;
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    
}

@media screen and (max-width: 600px){
    .agregar-proveedor{
      flex-direction: column;  
    }
}
