/* Side bar */
.user-info * {
    margin-top: 30px;
    text-align: center;
  }
  
  .side-bar-button {
    width: 100px;
    display: block;
    margin: 20px auto auto auto;
    padding: 0.5rem;
  }
  
  .side-bar > * {
    margin-top: 50px;
  }
  .side-bar-button:hover {
    background-color: #2980b9;
  }
  
  .side-bar {
    background-color: #19191999;
    position: relative;
    border: 1px solid black;
    width: 200px;
    height: 100vh;
  }
  
  .date-holder {
    text-align: center;
  }
  