/* Side bar */
.user-info * {
  margin-top: 30px;
  text-align: center;
}

.side-bar {
  background-color: #19191999;
  position: sticky;
  top: 0;
  border: 1px solid black;
  min-width: 15%;
  height: 100vh;
  a {
    width: 140px;
    display: block;
    margin: 20px auto auto auto;
    padding: 0.5rem;
  }
  & > * {
    margin-top: 50px;
  }
}

.date-holder {
  text-align: center;
}
