@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --primary-color: #2980b9;
  --secundary-color: #00b894;
  --font-color: white;
  --background-color:#2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-color);
  color: white;
}
@import './utilities';
@import './landing';
@import './side-bar';
@import './login';
@import './inventario';